:root {
    /* Couleurs principales */
    --blanc-casse: #F2F2F2;
    --gold-clair: #c5a059;
    --golf-fonce: #A3730C;
    --bleu-fonce: #101a23;
    --bleu-clair: #2b4359;
    --noir: #0A0A0A;
    --marron-clair: #4B2009;
    --marron-fonce: #322611;

    /* Typos */
    --titre: 'Cinzel', serif;
    --texte: 'Inter', sans-serif;

    /* Dégradés pour boutons etc */
    --gold-gradient: linear-gradient(to right, #E6B856, #806630);
    --gold-gradient-transition: linear-gradient(to right, #E6B856, #806630, #E6B856, #806630);

    --gold-fade: linear-gradient(to bottom, transparent 0%, #E6B856 50%, transparent 100%);
    --gold-fade-horizontal: linear-gradient(to right, transparent 0%, #E6B856 50%, transparent 100%);
    --dark-bg: #101A23;
}

body {
    background-color: var(--noir);
    font-family: var(--texte);
    color: var(--blanc-casse);
}

.admin {
    font-size: 12px;
    color: var(--blanc-casse);
    opacity: 50%;
}

.menu-gauche {
    width: 300px;
    background-color: var(--bleu-fonce);
    padding: 20px;
}

.menu-categorie {
    color: var(--blanc-casse);
    display: inline-block;
    width: 100%;
}

.dash,
.escape,
.calendrier,
.avis,
.user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
    text-decoration: none;
    color: var(--blanc-casse);
}

.escape {
    color: var(--gold-clair);
    background-color: rgba(197, 160, 89, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin: -10px;
    margin-bottom: 20px;
    border-right: solid #A3730C 3px;
}

.dash>div,
.escape>div,
.calendrier>div,
.avis>div,
.user>div {
    margin-left: 10px;
    font-size: 14px;
}

.dash:hover,
.calendrier:hover,
.avis:hover,
.user:hover {
    color: var(--gold-clair);
    background-color: rgba(197, 160, 89, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.ligne {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    width: 340px;
    background-color: var(--bleu-clair);
    margin-left: -20px;
}

.contenu {
    display: flex;
}

.droite {
    margin: 32px;
    flex: 1;
}

h1 {
    margin: 0;
    font-family: var(--titre);
    margin-bottom: 5px;
}

.sous-titre {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 32px;
}

.ajouter {
    text-decoration: none;
    color: var(--blanc-casse);
    background: var(--gold-gradient);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
}

.part2 {
    margin-top: 10px;
    margin-left: auto;
}

.haut {
    display: flex;
    align-items: start;
}




/* Overlay noir */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(16, 26, 35, 0.5);
    display: none;
    z-index: 999;
}

/* Popup centrée */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: white;
    border-radius: 12px;
    width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    display: none;
    z-index: 1000;
    transition: 0.3s ease;
}

/* Animation ouverture */
.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

/* Croix */
.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

h2{
    font-family: var(--titre);
    font-size: 24px;
    color: var(--noir);
    margin-bottom: 35px;
}

input {
    padding: 10px;
    border: solid var(--gold-clair) 1px;
    border-radius: 32px;
    width: 100%;
    margin-left: auto;
    font-size: 14px;
    flex: 1;
}

.ajout {
    margin: 32px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 20px; 
}

::placeholder{
    color: #cacaca;
    font-weight: lighter;
    font-size: 14px;
}

.valider{
    background: var(--gold-gradient);
    color: var(--blanc-casse);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

label span {
    width: 140px;
    font-weight: bold;
    font-size: 16px;
    color: var(--noir);
}

/* Champ file custom */
.image-label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-label input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.image-label .choix {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--gold-clair);
    border-radius: 32px;
    color: #cacaca;
    font-size: 14px;
    pointer-events: none;
    background-color: white;
}
