body {
    min-height: 100vh;
    background: linear-gradient(rgba(54, 78, 98, 0.9), rgba(16, 26, 35, 0.9), rgba(16, 26, 35, 0.9)),
        url('../images/EffetBrouillard.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #101A23;
    font-family: var(--CinzelTypo);
    color: white;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}


.container {
    max-width: 550px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    gap: 50px;
}


.goldText {
    background: var(--gold-gradient-transition);
    background-size: 300% auto;
    /* Largeur augmentée pour le mouvement */
    background-position: 0% center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    display: inline-block;
    /* On retire la transition car l'animation gère le mouvement */
}

/* Activation de l'animation au survol */
.goldText:hover {
    animation: glissementTransi 2s ease-in-out infinite alternate;
}

/* Définition de l'animation de va-et-vient */
@keyframes glissementTransi {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 100% center;
    }
}

.titre {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* met tout en lettre majusucule */
}

.message-principal {
    font-size: 20px;
    line-height: 1.6;
    text-transform: uppercase;
    /* met tout en lettre majusucule */
}

.separation {
    width: 80%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin-top: -22px;
}

.logo-svg {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
    margin-top: -20px;
}

/* Application de l'effet aux liens du footer */
.liens-footer a {
    background: var(--gold-gradient-transition);
    background-size: 300% auto;
    -webkit-background-clip: text;
    /* pour que le background dégradé ne soit que sur le texte */
    /* La version -webkit est nécessaire pour la compatibilité avec Chrome/Safari. */
    background-clip: text;
    color: transparent;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: filter 0.3s;
}

.liens-footer a:hover {
    animation: glissementTransi 2s ease-in-out infinite alternate;
    filter: brightness(1.3);
}

/* --- VERSION TABLETTE --- */
@media (max-width: 768px) {
    .container {
        gap: 35px;
        /* On réduit un peu les espaces */
    }

    .titre {
        font-size: 20px;
    }

    .message-principal {
        font-size: 18px;
    }

    img {
        width: 35%;
    }

    .logo-svg {
        width: 50px;
    }
}

@media (max-width: 425px) {
    .container {
        gap: 35px;
        /* On réduit un peu les espaces */
    }

    .titre {
        font-size: 18px;
    }

    .message-principal {
        font-size: 16px;
    }

    img {
        width: 35%;
    }

    .logo-svg {
        width: 50px;
    }
}