body {
    background-color: var(--noir);
    font-family: var(--texte);
    color: var(--blanc-casse);
}

.admin {
    font-size: 12px;
    color: var(--blanc-casse);
    opacity: 50%;
}

.menu-gauche {
    width: 300px;
    background-color: var(--bleu-fonce);
    padding: 20px;
}

.menu-categorie {
    color: var(--blanc-casse);
    display: inline-block;
    width: 100%;
}

.dash,
.escape,
.calendrier,
.avis,
.user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
    text-decoration: none;
    color: var(--blanc-casse);
}

.calendrier {
    color: var(--gold-clair);
    background-color: rgba(197, 160, 89, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin: -10px;
    margin-bottom: 20px;
    border-right: solid #A3730C 3px;
}

.dash>div,
.escape>div,
.calendrier>div,
.avis>div,
.user>div {
    margin-left: 10px;
    font-size: 14px;
}

.dash:hover,
.avis:hover,
.user:hover,
.escape:hover {
    color: var(--gold-clair);
    background-color: rgba(197, 160, 89, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.ligne {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    width: 340px;
    background-color: var(--bleu-clair);
    margin-left: -20px;
}

.contenu {
    display: flex;
}

.droite {
    margin: 32px;
    flex: 1;
}

h1 {
    margin: 0;
    font-family: var(--titre);
    margin-bottom: 5px;
}

.sous-titre {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 32px;
}


/* ================= CALENDRIER ================= */

.calendrier-boite {
    background: var(--bleu-fonce);
    border: 1px solid var(--bleu-clair);
    border-radius: 12px;
    padding: 30px;
    width: 420px;
}

/* Header mois + flèches */
.calendrier-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-family: var(--titre);
}

.fleche-cal {
    cursor: pointer;
    color: var(--gold-clair);
    padding: 5px 10px;
    transition: 0.3s;
}

.fleche-cal:hover {
    color: white;
}

/* Jours de la semaine */
.calendrier-jours {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--gold-clair);
    margin-bottom: 10px;
}

/* Grille des jours */
.calendrier-grille {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
}

/* Jour */
.jour-cal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 14px;
    margin: auto;
}

#mois-annee {
    font-size: 18px;
    font-weight: bold;
}

/* Hover jour */
.jour-cal:hover:not(.vide) {
    background: rgba(255, 255, 255, 0.1);
}

/* Case vide */
.jour-cal.vide {
    cursor: default;
}

/* Jour actuel */
.jour-aujourdhui {
    color: var(--gold-clair) !important;
    font-weight: 900 !important;
}

/* Point sous aujourd'hui */
.jour-aujourdhui::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background-color: var(--gold-clair);
    border-radius: 50%;
}

/* Jour sélectionné */
.jour-cal.selectionne,
.jour-cal.jour-aujourdhui.selectionne {
    background: var(--gold-gradient) !important;
    color: white !important;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Si aujourd'hui est sélectionné on cache le point */
.jour-cal.jour-aujourdhui.selectionne::after {
    display: none;
}



/* ===== FILTRE ===== */

.droite2 {
    display: block;
}

.bas form {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 35px;
}

.filtre {
    padding: 25px;
    background-color: var(--bleu-fonce);
    border: solid var(--bleu-clair) 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.titre {
    font-size: 14px;
    font-weight: bold;
}

.bas input[type="date"],
.bas select {
    background-color: var(--noir);
    border: 1px solid var(--bleu-clair);
    color: var(--blanc-casse);
    opacity: 50%;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
}

.bas button {
    background: var(--gold-gradient);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--noir);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.bas button:hover {
    opacity: 0.8;
}

.joursj {
    background-color: var(--bleu-fonce);
    border: 1px solid var(--bleu-clair);
    padding: 25px;
    border-radius: 8px;
    font-size: 14px;
}

.datejours>svg {
    margin-right: 15px;
}

.datejours {
    margin-bottom: 15px;
}

.indicateur,
.ok,
.libre {
    display: flex;
}

.ok {
    align-items: center;
    margin-right: 20px;
    color: var(--blanc-casse);
    opacity: 50%;
}

.rond1 {
    width: 10px;
    height: 10px;
    background-color: var(--gold-clair);
    border-radius: 100%;
    margin-right: 5px;
}

.libre {
    align-items: center;
    color: var(--blanc-casse);
    opacity: 50%;
}

.rond2 {
    width: 10px;
    height: 10px;
    background-color: var(--bleu-fonce);
    border: 1px solid var(--bleu-clair);
    border-radius: 100%;
    margin-right: 5px;
}


/* ===== TITRE CRENEAUX ===== */

.bas h2 {
    font-family: var(--titre);
    margin-bottom: 20px;
    font-size: 24px;
}

/* ===== CARTE CRENEAU ===== */

.creneau {
    font-size: 14px;
    display: grid;
    grid-template-columns:
        1fr
        /* heure */
        2fr
        /* nom escape */
        1fr
        /* client */
        1fr
        /* mail */
        1fr
        /* joueurs */
        auto;
    /* bouton sup */
    align-items: center;
    padding: 20px 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    gap: 20px;
    transition: 0.3s;
}

/* ===== CRENEAU LIBRE ===== */

.creneau.libre {
    background-color: var(--bleu-fonce);
    border: 1px solid var(--bleu-clair);
    color: var(--blanc-casse);
    opacity: 50%;
}

.grp>svg {
    margin-right: 10px;
}

/* ===== CRENEAU RESERVE ===== */

.creneau.reserve {
    background: rgb(197, 160, 89, 0.2);
    border: 1px solid var(--gold-clair);
    color: var(--blanc-casse);
}

.creneau.reserve strong {
    color: #c5a059;
}

.supp {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 75px;
    display: flex;
    align-items: center;
    /* alignement vertical */
    gap: 10px;
    /* espace entre texte et svg */
    cursor: pointer;
}

/* ===== CONTENU INTERNE ===== */

.creneau.reserve span {
    margin-right: 15px;
}

/* ===== EFFET HOVER ===== */

.creneau:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Overlay sombre avec effet flou */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* sombre mais translucide */
    backdrop-filter: blur(5px);
    /* flou */
    z-index: 1000;
}

/* Popup central */
.popup-suppression {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: var(--blanc-casse);
    color: var(--noir);
    padding: 30px;
    border-radius: 15px;
    width: 450px;
    max-width: 90%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    text-align: center;
    font-family: var(--texte);
    transition: all 0.3s ease;
}

/* Animation popup */
.popup-suppression.show {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

/* Titres et texte */
.popup-suppression h3 {
    font-size: 22px;
    font-family: var(--titre);
    margin-bottom: 15px;
}

.popup-suppression p {
    font-size: 15px;
    margin-bottom: 15px;
    font-family: var(--texte);
}

/* Zone de texte */
.popup-suppression textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: solid var(--gold-clair) 1px;
    resize: none;
    font-family: var(--texte);
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Conteneur pour les boutons */
.popup-actions {
    display: flex;
    gap: 10px;
}

/* Boutons */
.popup-actions button {
    flex: 1;
    padding: 10px 0;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

/* Bouton Annuler */
#closePopup {
    background: var(--gold-gradient);
    color: var(--blanc-casse);
}

/* Bouton Valider / Supprimer */
#validerSuppression {
    background: var(--gold-gradient);
    color: var(--blanc-casse);
}


/* ========================= */
/* TABLETTE */
/* ========================= */
@media (max-width: 1024px) {

    .contenu {
        flex-direction: column;
    }

    /* menu admin */
    .menu-gauche {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .menu-categorie {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .menu-categorie::-webkit-scrollbar {
        display: none;
    }

    .escape:hover,
    .dash:hover,
    .avis:hover,
    .user:hover {
        margin-left: 0;
        margin-top: 0;
    }

    .calendrier {
        color: var(--gold-clair);
        background-color: transparent;
        border-right: none;
        margin: 0;
    }

    .dash,
    .escape,
    .calendrier,
    .avis,
    .user {
        margin-bottom: 0;
    }

    .droite {
        margin: 25px 20px;
        flex: 1;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .ligne {
        width: 100%;
        margin-left: 0;
    }

    /* calendrier */
    .calendrier-boite {
        width: 100%;
        padding: 20px;
    }

    /* formulaire filtre */
    .bas form {
        flex-direction: column;
        gap: 15px;
    }

    .filtre {
        width: 100%;
        padding: 20px;
    }

    /* creneaux */
    .creneau {
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr auto;
        padding: 15px;
        gap: 15px;
    }

    .calendrier-boite,
    .filtre {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        /* prend en compte le padding dans la largeur */
    }

}

/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width: 700px) {

    h1 {
        font-size: 20px;
    }

    .sous-titre {
        font-size: 12px;
    }

    /* calendrier */
    .calendrier-boite {
        width: 100%;
        padding: 15px;
    }

    .calendrier-jours,
    .calendrier-grille {
        grid-template-columns: repeat(7, 1fr);
        gap: 8px;
    }

    .jour-cal {
        width: 32px;
        height: 32px;
        font-size: 12px;
    }

    #mois-annee {
        font-size: 16px;
    }

    /* formulaire filtre */
    .bas form {
        flex-direction: column;
        gap: 10px;
    }

    .filtre {
        width: 100%;
        padding: 15px;
    }

    .bas h2 {
        font-size: 20px;
    }

    .bas form {
        flex-direction: column;  /* colonne sur mobile */
        gap: 10px;               /* réduit l’espace */
        width: 100%;
    }

    .bas input[type="date"],
    .bas select,
    .bas button {
        width: 100%;             /* prend toute la largeur disponible */
        max-width: 100%;
        box-sizing: border-box;
    }

    /* creneaux */
    .creneau {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        grid-template-columns: unset;
    }

    .creneau span,
    .creneau strong {
        margin-right: 0;
    }

    .supp {
        padding: 8px;
        gap: 8px;
    }

    /* popup suppression */
    .popup-suppression {
        width: 90%;
        padding: 20px;
    }

    .popup-suppression h3 {
        font-size: 18px;
    }

    .popup-suppression p,
    .popup-suppression textarea,
    .popup-actions button {
        font-size: 14px;
    }

    .calendrier-boite,
    .filtre {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        /* prend en compte le padding dans la largeur */
    }
}