body {
    background-color: var(--noir);
    font-family: var(--texte);
    color: var(--blanc-casse);
}

/* texte admin avec opacité pour le distingué */
.admin {
    font-size: 12px;
    color: var(--blanc-casse);
    opacity: 50%;
}

/* =========================================================
MENU LATÉRAL GAUCHE
========================================================= */
.menu-gauche {
    width: 300px;
    background-color: var(--bleu-fonce);
    padding: 20px;
}

/* categorie menu */
.menu-categorie {
    color: var(--blanc-casse);
    display: inline-block;
    width: 100%;
}

/* liens du menu */
.dash,
.escape,
.calendrier,
.avis,
.user,
.tarif {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
    text-decoration: none;
    color: var(--blanc-casse);
}

.user {
    color: var(--gold-clair);
    background-color: rgba(197, 160, 89, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin: -10px;
    margin-bottom: 20px;
    border-right: solid #A3730C 3px;
}

/* Icones ou textes à l’intérieur des liens menu */
.dash>div,
.escape>div,
.calendrier>div,
.avis>div,
.user>div,
.tarif>div {
    margin-left: 10px;
    font-size: 14px;
}

/* hober sur les liens menu 'sauf user) */
.dash:hover,
.calendrier:hover,
.avis:hover,
.escape:hover,
.tarif:hover {
    color: var(--gold-clair);
    background-color: rgba(197, 160, 89, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 20px;
}

/* ligne de séparation */
.ligne {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    width: 340px;
    background-color: var(--bleu-clair);
    margin-left: -20px;
}

/* contenu principal de la page */
.contenu {
    display: flex;
}

/* colonne de droite */
.droite {
    margin: 32px;
    flex: 1;
}

/* titre */
h1 {
    margin: 0;
    font-family: var(--titre);
    margin-bottom: 5px;
}

.sous-titre {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 32px;
}

/* =========================================================
TABLE UTILISATEURS
========================================================= */
.table-utilisateur {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;          /* Pour que le radius masque les coins des cellules */
}

.table-utilisateur thead {
    background-color: var(--bleu-fonce);
    border: 1px solid rgb(43, 67, 89, 0.5);
}

.table-utilisateur td {
    padding: 15px;
    border: 1px solid rgb(43, 67, 89, 0.5);
    font-size: 12px;
    color: var(--blanc-casse);
    background-color: var(--bleu-fonce);
}

.table-utilisateur th {
    text-align: left;
    padding: 15px;
    font-size: 12px;
    color: var(--blanc-casse);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 1px solid rgb(43, 67, 89, 0.5);
    font-weight: normal;
}

/* avatar */
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* pour avoir un cercle parfait */
    object-fit: cover;
    /* recadrage image */
}

.avatar.placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #555;
    display: inline-block;
}


/* =========================================================
CONTACT ET INFOS
========================================================= */
.contact div {
    line-height: 2;
}

.select-statut {
    background: #333;
    color: var(--blanc-casse);
    border: 1px solid #555;
    border-radius: 5px;
    padding: 3px 5px;
}

/* petit bouton */
.btn-mini {
    background: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px 6px;
    cursor: pointer;
}

.btn-mini:hover {
    background: #45a049;
}

/* =========================================================
BOUTON SUPPRIMER SVG
========================================================= */
.supp svg path {
    stroke: #f00;
    transition: stroke 0.3s;
}

.supp:hover svg path {
    stroke: #ff4d4d;
}


/* =========================
   TABLEAU RESPONSIVE MOBILE
========================= */
@media (max-width: 1024px) {
    .contenu {
        flex-direction: column;
    }

    /* menu admin */
    .menu-gauche {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .menu-categorie {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .menu-categorie::-webkit-scrollbar {
        display: none;
    }

    .escape:hover,
    .calendrier:hover,
    .avis:hover,
    .dash:hover,
    .tarif:hover {
        margin-left: 0;
        margin-top: 0;
    }

    .user {
        color: var(--gold-clair);
        background-color: transparent;
        border-right: none;
        margin: 0;
    }

    .dash,
    .escape,
    .calendrier,
    .avis,
    .user,
    .tarif {
        margin-bottom: 0;
    }

    .droite {
        margin: 25px 20px;
        flex: 1;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .ligne {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 20px;
    }

    .sous-titre {
        font-size: 12px;
    }

    .menu-categorie {
        gap: 15px;
    }

    .table-utilisateur {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .table-utilisateur th,
    .table-utilisateur td {
        padding: 10px;
        font-size: 11px;
    }

    .droite {
        margin: 20px 10px;
    }
}