@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Couleurs principales */
    --blanc-casse: #F2F2F2;
    --gold-clair: #C5A059;
    --gold-fonce: #A3730C;
    --bleu-fonce: #101A23;
    --noir: #0A0A0A;
    --marron-clair: #4B2009;
    --marron-fonce: #322611;

    /* Typos */
    --titre: 'Cinzel', serif;
    --texte: 'Inter', sans-serif;

    /* Dégradés pour boutons etc */
    --gold-gradient: linear-gradient(to right, #E6B856, #806630);
    --gold-gradient-transition: linear-gradient(to right, #E6B856, #806630, #E6B856, #806630);

    --gold-fade: linear-gradient(to bottom, transparent 0%, #E6B856 50%, transparent 100%);
    --gold-fade-horizontal: linear-gradient(to right, transparent 0%, #E6B856 50%, transparent 100%);
    --fond-sombre: #101A23;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Pour changer le curseur */
html {
    cursor: url("../images/cursor.png"), default;
}

/* html a {
    cursor: url("../images/cursor.png"), default !important;
} */



/* Bouton pour retourner en haut */
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 50px;
    height: 50px;
    background-color: var(--orchidee);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    z-index: 999;
    box-shadow: 0 4px 12px var(--gold-clair);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.back-to-top:hover {
    background-color: var(--gold-clair);
    transform: translateY(-4px);
    box-shadow: 0 6px 16px var(--gold-clair);
}

/* --- PERSONNALISATION SCROLLBAR GLOBALE (PC) --- */
/* Pour Chrome, Edge et Safari */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #101a23;
}

::-webkit-scrollbar-thumb {
    background: var(--gold-gradient);
    /* Ton dégradé doré */
    border-radius: 10px;
}

/* Pour Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #c5a059 #101a23;
    /* Or et Sombre */
}

/* --- animations.css --- */

/* État initial : caché et décalé */
.reveal {
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reveal-up {
    transform: translateY(50px);
}

.reveal-down {
    transform: translateY(-50px);
}

/* État final : visible et à sa place (activé par JS) */
.reveal-visible {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
}

/* Optionnel : Delays pour l'ordre d'apparition (ex: cartes côte à côte) */
.delay-1 {
    transition-delay: 0.2s;
}

.delay-2 {
    transition-delay: 0.4s;
}

.delay-3 {
    transition-delay: 0.6s;
}